/frontend/public/songs
/backend/file_server/node_modules
/backend/ai_module/genre/__pycache__

/backend/ai_module/venv
/backend/ai_module/bpm/__pycache__
/backend/ai_module/genre/models
/backend/ai_module/mood/models
/backend/ai_module/tracks
/backend/ai_module/mood/__pycache__
/backend/ai_module/__pycache__


/backend/file_server/public
frontend/.env
backend/src/.env
